<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<title>ReUse</title>
	</head>
	<body>
		<header>
		    <div class="logo">
		        <a href="/accounts/home"><img src="{% static 'imgs/logo.png' %}"  alt="Logo de la tienda"></a>
		    </div>
		    <nav>
		        <ul>
		            <li><a href="/accounts/lista-ropa" class="boton">Ropa</a></li>
		            <li><a href="/accounts/lista-zapatos" class="boton">Zapatos</a></li>
		            <li><a href="/accounts/lista-accesorios" class="boton">Accesorios</a></li>
		            <li><a href="/accounts/home_vendedor" class="boton">Agregar</a></li>
					<li><a href="/accounts/profile" class="boton">Sobre mi</a></li>
					<li class="contenAvatar">
						{% if user.is_authenticated %}
							{% if user_avatar %}
							<img src="{{ user_avatar.imagen.url }}" class="avatar" alt="avatar">            
							{% endif %}
							<a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
						{% else %}
							<a class="btn btn-primary" href="{% url 'login' %}">Login</a>	
						{% endif %}	
		            </li>
		        </ul>
		    </nav>
		</header>


		{% block content %}


		{% endblock %}


	

		<footer>
		    <div class="copyright">
		        <p>&copy; 2023 ReUse. Todos los derechos reservados.</p>
		    </div>
		</footer>
	</body>


</html>


