{% extends 'base.html' %}

{% block content %}
<section class="contenedor">
    <div class="contenedor_formulario">
        <form class="formulario" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Editar  Zapatos</h2>
            
            <div class="campo">
                {{ form.nombre.label_tag }}
                {{ form.nombre }}
                {{ form.nombre.errors }}
            </div>
            
            <div class="campo">
                {{ form.descripcion.label_tag }}
                {{ form.descripcion }}
                {{ form.descripcion.errors }}
            </div>
            
            <div class="campo">
                {{ form.talla.label_tag }}
                {{ form.talla }}
                {{ form.talla.errors }}
            </div>
            
            <div class="campo">
                {{ form.marca.label_tag }}
                {{ form.marca }}
                {{ form.marca.errors }}
            </div>

            <div class="campo">
                {{ form.precio.label_tag }}
                {{ form.precio }}
                {{ form.precio.errors }}
            </div>
                        
            <div class="campo">
                {{ form.imagen.label_tag }}
                {{ form.imagen }}
                {{ form.imagen.errors }}
            </div>
            
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>

        <form method="post" action="{% url 'eliminar_zapatos' ropa.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" name="delete">Eliminar</button>
        </form>
        
        <a href="{% url 'lista_zapatos' %}" class="btn btn-secondary">Cancelar cambios</a>
    </div>
</section>
{% endblock %}
