{% extends 'base.html' %}

{% block content %}

<section class="contenedor">   
    <h2>Lista de Zapatos</h2>
    <div class="contenedor_listas">
    
        <ul class="lista">
            {% for zapato in zapatos %}
                <li class="item">
                    <div class="div20 imgs">
                        <img src="{{ zapato.imagen.url }}" alt="{{ zapato.nombre }}" width="100">
                    </div>
                    <div class="div80 informacion">
                        <strong>{{ zapato.nombre }}</strong><br>
                        Descripción: {{ zapato.descripcion }}<br>
                        Talla: {{ zapato.talla }}<br>
                        Marca: {{ zapato.marca }}<br>
                        Precio: ${{ zapato.precio }}<br>
                        <div class="acciones">
                            <div class="boton-editar">
                                <form method="post" action="{% url 'editar_zapatos' zapato.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Editar</button>
                                </form>
                            </div>
                            <div class="boton-eliminar">
                                <form method="post" action="{% url 'eliminar_zapatos' zapato.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </div>
                        </div>
                                               
                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>

</section>

{% endblock %}




