{% extends 'base.html' %}

{% block content %}

<section class="contenedor">
    <h2>Lista de Accesorios</h2>
    <div class="contenedor_listas">

        <ul class="lista"> 
            {% for accesorio in accesorios %}
                <li class="item">
                    <div class="div20 imgs">
                        <img src="{{ accesorio.imagen.url }}" alt="{{ accesorio.nombre }}" width="100">
                    </div>
                    <div class="div80 informacion">
                        <strong>{{ accesorio.nombre }}</strong><br>
                        Descripción: {{ accesorio.descripcion }}<br>
                        Talla: {{ accesorio.talla }}<br>
                        Marca: {{ accesorio.marca }}<br>
                        Precio: ${{ accesorio.precio }}<br>
                        <div class="acciones">
                            <div class="boton-editar">
                                <form method="post" action="{% url 'editar_accesorios' accesorio.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Editar</button>
                                </form>
                            </div>
                            <div class="boton-eliminar">
                                <form method="post" action="{% url 'eliminar_accesorios' accesorio.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>                    
                </li>               
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}
