{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="contenedor">
        <!-- Incluye el contenido de edit_profile.html -->
        {% include 'edit_profile.html' %}



        <!-- Incluye el contenido de agregar_avatar.html -->
        {% include 'agregar_avatar.html' %}


        <div class="cont_profile">
            <div class="imagen_profile">
                <div class="centrar-imagen">
                    <img src="{% static 'imgs/mifoto.JPG' %}" alt="Isa" width="200">
                </div>
            </div>
        
        
            <div class="parrafo_texto">
                <h1>Sobre mi</h1>
                <p>¡Hola! Soy Isa ⚡, originaria de la Ciudad de México. 
                    Llevo aproximadamente 6 años trabajando en proyectos web, y mi enfoque en diseño web se centra en la parte visual. 
                    Utilizo diversas herramientas y metodologías para adaptar cada proyecto a sus necesidades específicas.</p>
                <p>Este año, completé mis estudios en Experiencia de Usuario (UX) e Interfaz de Usuario (UI) en CoderHouse, 
                    lo cual representó un logro importante. Actualmente, estoy por concluir un curso en Python, con un enfoque en aplicaciones web.</p>
                <p>Me apasiona la creación de sitios web que sean tanto atractivos como funcionales. Siempre estoy dispuesto a enfrentar nuevos desafíos en este mundo en constante cambio.</p>   
                <p>Agradezco tu visita a este proyecto y te invito a seguirme en mis redes sociales</p> 
                <div class="redes-sociales">
                    <a href="https://www.behance.net/isabelaragon" class="icono-social">Be</a>
                    <a href="https://www.linkedin.com/in/isabel-cruz-481a96106/" class="icono-social">In</a>
                </div>
            </div>
        </div>



</section>




{% endblock %}